.van-nav-bar {
  background-color: #3596f8;
}
.van-nav-bar .van-nav-bar__title,
.van-nav-bar .van-nav-bar__text,
.van-nav-bar .van-icon {
  color: #ffffff;
}
.btn-box {
  padding: 14px;
}
.btn-box .van-button {
  width: 100%;
}
